/*按钮*/
.upd-btn {
    padding: 1px 2px;
    background-color: #000;
    border-color: #222;
}
.upd-btn-dis {
    color: #444;
}
/*分页*/
.el-pagination {
  padding: 3px 0;
}
.el-pagination .btn-prev {
  padding-right: 0;
}
.el-pagination .btn-next {
  padding-left: 0;
}
.el-pager li.active {
  background-color: #222!important;
}
/*时间插件*/
.el-picker-panel [slot=sidebar], .el-picker-panel__sidebar {
  background-color: #222!important;
  border-right: 0;
}
.el-date-range-picker__content.is-left {
    border-right: 1px solid #222;
}
.el-picker-panel__shortcut {
  color: #ccc;
  font-size: 13px;
  line-height: 32px;
}
.el-picker-panel__shortcut:hover,.el-date-table td.available:hover,.el-date-table td.today span {
    color: #bad616;
}
.el-date-table td.today span {
  background-color: #bad616;
  color: #000;
}
.el-date-table td.in-range div, .el-date-table td.in-range div:hover, .el-date-table.is-week-mode .el-date-table__row.current div, .el-date-table.is-week-mode .el-date-table__row:hover div {
    background-color: #000;
}
.el-range-editor--mini.el-input__inner {
    height: 30px;
    line-height: 30px!important;
    background-color:#000!important;
    border-color: transparent!important;
}
.el-input__inner.is-active {
    border-color: #666!important;
}
.el-date-editor .el-range-input {
    color: #fff!important;
    border: 1px solid #222;
    border-top: none;
    border-bottom: none;
    margin:0 6px;
}
.el-date-editor .el-range-separator {
  width: 7%;
}
.el-range-editor--mini .el-range-separator {
  line-height: 34px;
  height: inherit;
  color: #666!important;
}
.el-date-editor .el-range__icon {
  color: #666;
}
.el-date-table td span {
    text-align: center;
}
.el-date-table td.end-date span, .el-date-table td.start-date span {
    background-color: #bad616;
    color: #000;
}
/*弹窗*/
.el-dialog__header {
  padding: 0;
}
.el-dialog__body {
  padding: 0;
}
/*Badge 标记*/
footer .el-button--small, .el-button--small.is-round {
    padding: 0;
}
footer .el-button {
    background: transparent;
    border: 0;
    color:inherit;
    font-size: inherit;
    display: block;
}
footer .el-button:hover,footer .el-button:focus {
    background-color: transparent;
    display: block;
    color:inherit;
}
.el-badge__content.is-fixed {
    top: -11px;
    right: -4px;
}
.el-badge__content {
    background-color: #f13131;
    border:0;
    color: #000;
}
/*下拉菜单*/
.el-input__inner:active, .el-input__inner:visited, .el-input__inner:hover,.el-input__inner.is-active {
    border: 1px solid #111 !important;
    background-color: rgba(0, 0, 0, .8)!important;
}
.el-input__inner:focus, .el-textarea__inner:focus, .el-message-box__input input.invalid:focus {
  border-color: transparent!important;
}
.el-popper[x-placement^=bottom] .popper__arrow {
    border-bottom-color: #222;
    top: -6px;
}
.el-popper[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: #222!important;
}
.el-dropdown-link {
    font-size: 12px;
    color: #999;
}
.el-dropdown-menu {
    padding: 0;
    margin-left: 20px;
    min-width: 100px;
    border-radius: 0;
    background-color: #000;
    border: 2px solid #222;
}
.el-dropdown-menu .active {
  background-color: #222;
  color: #fff;
}
.el-dropdown-menu__item:first-child {
    border-top:0; 
}
.el-dropdown-menu__item {
    line-height: 34px;
    font-size: 12px;
    color: #999;
    border-top: 1px solid #111;
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    color: #fff;
    background-color: #000; 
}
.el-dropdown-menu__item--divided {
    margin-top: 0;
    border-top: 1px solid #333;
}
.el-dropdown-menu__item.is-disabled {
    cursor: not-allowed!important;
    color: #444;
    pointer-events: inherit;
}
.el-dropdown-menu__item--divided:before {
    height: 0;
}
/*单选按钮*/
/*年月日*/
.q-date .el-radio-button {
    margin-right: 0;
}
.q-date .el-radio-button > .el-radio-button__inner {
  width: 22px!important;
  height: 22px!important;
  border-width: 0px!important;
  border-color: #222!important;
  background-color: #111!important;
  line-height: 22px!important;
  padding:0 2px!important;
  color: #999!important;
}
.q-date .el-radio-button.is-active > .el-radio-button__inner {
  color: #fff!important;
  background-color: #000!important;
}
.q-date .el-radio-button > .el-radio-button__inner:hover {
  color: #fff!important;
  background-color: #000!important;
}
.el-radio {
    margin-left: inherit!important;
    margin-bottom: 10px;
    min-width: 88px;
}
.el-radio__inner {
    border: 1px solid #333;
    background-color: #000;
    border-radius: 0;
}
.el-radio__inner:hover {
    border: 1px solid #bad616;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color:#bad616!important;
  background: #000!important;
}
.el-radio__label {
  font-size: 12px;
  color: #999;
}
.el-radio__label strong {
  color: #fff;
  margin-left: 4px;
}
.el-radio__inner:after {
    border-radius: 0;
    box-sizing: content-box;
    content: "";
    border: 1px solid transparent;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    transform: rotate(45deg) scaleY(1)!important;
    width: 3px;
    transition: transform .15s ease-in .05s;
    transform-origin: center;
    background-color: transparent;
}
.el-radio__input.is-checked .el-radio__inner:after {
    transform: rotate(45deg) scaleY(1)!important;
    border-color: #bad616!important;
}
/*Select 选择器*/

.my-filter .upd-elmdate {
  margin-bottom: 0;
}
.my-filter .upd-elselect .el-input__inner,
.my-filter .upd-elselect .el-input__inner:hover,
.my-filter .upd-elselect .el-input--mini .el-input__inner:visited {
  height: 30px;
  line-height: 30px;
  border-width: 0!important;
  padding-left: 10px;
}
.my-filter .upd-elselect .el-input__inner:hover,
.my-filter .upd-elselect .el-input--mini .el-input__inner:visited {
  color: #fff!important;
}
.my-filter .upd-elselect .el-input--mini .el-input__inner:focus {
    border-width: 0!important;
    background-color: #000!important;
    color: #fff!important;
}
.el-select-dropdown__empty {
  font-size: 12px;
  color: #f13131;
}
.el-input--mini .el-input__inner,
.el-input--mini .el-input__inner:visited {  
  border:1px solid #222!important;
  height: 22px;
  line-height: 22px;
  padding-left: 6px;
  font-size: 12px!important;
}
header .el-input--mini .el-input__inner,header .el-input--mini .el-input__inner:visited {
  border-color: transparent!important;
  padding-left: 0px!important;
  color: #bad616!important;
}
.upd-elselect-border .el-input__inner {
  border:1px solid #222!important;
  background-color: #111!important;
  line-height: 30px;
  height: 30px;
}
.el-input--mini .el-input__inner:focus {
  border:1px solid #333!important;
  background-color: #000!important;
  color: #999!important;
}
.el-input--mini .el-input__inner:hover {
  border:1px solid #333!important;
  background-color: #000!important;
  color: #ccc!important;
}
header .el-input--mini .el-input__inner:focus {
  border:1px solid transparent!important;
}
header .el-input--mini .el-input__inner:hover {
  background-color: #000!important;
  border:1px solid transparent!important;
}
#header .el-select{
  top: -4px;
  min-width: 26%;
  max-width: 30%;
}
header .el-select .el-input .el-select__caret {
    color: #bad616;
}
header .el-select .el-input .el-input__inner:before {
  content: "\E690";
  font-family: "iconfont"!important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  padding-right: 30px;
}
.el-scrollbar {
  border: 1px solid #222;
}
.el-select-dropdown__list {
  padding: 0;
  background: #000!important;
}
.el-select-dropdown__list .el-select-dropdown__item:last-child {
  border-bottom: 0;
}
.el-select-dropdown__item {
  font-size: 12px;
  font-weight: 700; 
  color:#999!important; 
  border-bottom:1px solid #222;
}

.el-select-dropdown__item:hover {
    background-color: #111!important;
    color: #bad617!important;
}
.el-select-dropdown {
    margin: 0;
    background: #000;
    border: 1px solid #222!important;
    border-radius: 0px !important;
}
header .el-input__inner {
    color: #999;
    padding: 0;
    border-radius: 0;
    border: 1px solid transparent!important;
    padding-right: 0!important;
}
header .el-input__inner:before {
    width: 4px!important;
    height: 4px!important;
    background-color: #999!important;
    display: block;
}
.el-input--mini .el-input__icon {
    line-height: 22px;    
}
.el-select .el-input .el-select__caret {
    font-size: 12px;
}
/*header .el-input__inner:hover {
  background-color: #000;
}*/
header .el-input__inner:active,
header .el-input__inner:visited,
header .el-input__inner:hover {
    border: 1px solid transparent!important;
}
header .el-icon-arrow-up:before {
    content: "\E60C";
}
header .el-select-dropdown__item {
  border-bottom:1px solid #111;
}
header .el-select-dropdown__item:last-child {
  border-bottom: none;
}
.el-select-dropdown__item.selected {
    color: #bad616;
    font-weight: normal;
}
/*火灾详情*/
.mes-fire{
    background-color:#ff0000 ;
}
/*故障详情*/
.mes-fault{
    background-color: #ff7800;
}
/*报警详情*/
.mes-warning{
    background-color: #f13131;
}
/*隐患详情*/
.mes-dangers{
    background-color: #ffb709;
}
/*解除*/
.mes-ok{
    background-color: #bad616;
}
.el-message {
  min-width: 800px;
  max-width: 900px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: #ebeef5;
  position: fixed;
  left: 50%;
  top: 120px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #000;
  -webkit-transition: opacity .3s, -webkit-transform .4s;
  transition: opacity .3s, -webkit-transform .4s;
  transition: opacity .3s, transform .4s;
  transition: opacity .3s, transform .4s, -webkit-transform .4s;
  padding: 15px 15px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.el-message.is-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.el-message.is-closable .el-message__content {
  padding-right: 16px
}

.el-message p {
  margin: 0
}

.el-message--info .el-message__content {
  color: #909399
}

.el-message--success {
  background-color: #f0f9eb;
  border-color: #e1f3d8
}

.el-message--success .el-message__content {
  color: #67c23a
}

.el-message--warning {
  background-color: #fdf6ec;
  border-color: #faecd8
}

.el-message--warning .el-message__content {
  color: #e6a23c
}

.el-message--error {
  background-color: #fef0f0;
  border-color: #fde2e2
}

.el-message--error .el-message__content {
  color: #f56c6c
}

.el-message__icon {
  margin-right: 10px
}

.el-message__content {
  padding: 0;
  font-size: 14px;
  line-height: 1
}

.el-message__closeBtn {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  color: #c0c4cc;
  font-size: 16px
}

.el-message__closeBtn:hover {
  color: #909399
}

.el-message .el-icon-success {
  color: #67c23a
}

.el-message .el-icon-error {
  color: #f56c6c
}

.el-message .el-icon-info {
  color: #909399
}

.el-message .el-icon-warning {
  color: #e6a23c
}

.el-message-fade-enter,
.el-message-fade-leave-active {
  opacity: 0;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%)
}