a,a:focus {
    display: block;
    text-decoration: none;
    cursor: pointer;
}
a.active {
    color: #bad616!important;
}
.tooltip-inner {
    max-width: 600px!important;
    padding: 2px 8px;
    border-radius: 10px;
}
.hide {
  display: none!important;
}
.show {
  display: block!important;
}
.v-modal {
    display: none!important;
}
.icon-weibiaoti10 {
    cursor: pointer;
}
/*打卡弹窗*/
#punch {
    
}

.modal-open .modal {
    background-color: rgba(0, 0, 0, .5);
    overflow-y: hidden;
}
/*返回按钮*/
.btn-back {
    background-color: transparent;
    border: 1px solid #333;
    width: 56px;
    height: 26px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #999;
    border-radius: 0;
    text-align: center;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
}
.go-back {
    position: fixed;
    top: 86px;
    right: 37px;
    color: #ccc;
    z-index: 99999;
    display: block;
}
.go-back:hover {
    color:#bad616!important;
}
.toolright .btn-back {
    position: absolute;
    top: 86px;
    left: 20px;
    right: inherit;
}

/*.btn-back>i {
    color: #bad616;
}*/
.btn-back:hover,
.btn-back:focus {
  background-color: #bad616;
  border:none;
  color: #000!important;
}
h4.p-title {
    position: relative;
    padding-left: 10px;
    color: #fff;
    font-size: 14px;
}
h4.p-title:before {
    content: "";
    width: 5px;
    height: 5px;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: rgba(186,214,22,1);
}
/*风险评估*/
#risk .toolleft table tr>td.safe{
    text-align: center!important;
}
#risk .toolleft table tr>td.safe .bgbox-max {
    position: inherit;
    font-weight: bold!important;
    padding: 1px 6px;
}
#risk .toolleft table tr>td.risk{
    color: #ccc;
}
/*顶部右侧按钮*/
.header-middle ul {
    padding-bottom: 0;
    height: 70px;
    margin-bottom: 0;
}
.header-right {
    right: 10px;
}
.header-head {    
    position: relative;
    top: -10px;
    z-index: 20;
    right: 0;
}
.header-head .user-name,
.header-head span.caret {
    position: relative;
    top: -10px;
    color: #fff;
}
.header-time p {
    margin-top: 5px;
    margin-bottom: 0;
}
.top-btn {
    position: relative;
    top: 0px;
    left: 0px;
}

.top-btn li {
    text-align: right;
    padding-left: 30px!important;
    padding-right: 0!important;
}
.top-btn li:first-child {
    padding-left: 0!important;
}
.top-btn a {
    color: #999;
}
.top-btn a:hover,.top-btn a.active {
    color: #fff;
}
.top-btn a i {
    font-size: 20px;
}
span.point {
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: #f13131;
    border-radius: 50%;
    top: 2px;
}
/*渐变底色*/
#left .overlay,
#right .overlay,
#min-map .overlay {
    height: inherit;
    background-color: rgba(0, 0, 0, 1);
      *zoom:1;
      z-index: -1;
      -webkit-opacity: 1;
    /* Netscape and Older than Firefox 0.9 */
    -moz-opacity: 1;
    /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
    -khtml-opacity: 1;
    /* IE9 + etc...modern browsers */
    opacity: 1;
    /* IE 4-9 */
    filter:alpha(opacity=1);
    /*This works in IE 8 & 9 too*/
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    /*IE4-IE9*/
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
}
#left .overlay {
    background: -moz-linear-gradient(right,rgba(0, 0, 0, 0),rgba(0, 0, 0, .6),rgba(0, 0, 0, .7),rgba(0, 0, 0, 1));
    background: -o-linear-gradient(right,rgba(0, 0, 0, 0),rgba(0, 0, 0, .6),rgba(0, 0, 0, .7),rgba(0, 0, 0, 1));
    background: -ms-linear-gradient(right,rgba(0, 0, 0, 0),rgba(0, 0, 0, .6),rgba(0, 0, 0, .7),rgba(0, 0, 0, 1));
    background: -webkit-linear-gradient(right,rgba(0, 0, 0, 0),rgba(0, 0, 0, .6),rgba(0, 0, 0, .7),rgba(0, 0, 0, 1));
}
#right .overlay {
    background: -moz-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, .6),rgba(0, 0, 0, .7),rgba(0, 0, 0, 1));
    background: -o-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, .6),rgba(0, 0, 0, .7),rgba(0, 0, 0, 1));
    background: -ms-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, .6),rgba(0, 0, 0, .7),rgba(0, 0, 0, 1));
    background: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, .6),rgba(0, 0, 0, .7),rgba(0, 0, 0, 1));
}

/* 综合 */
/*左侧公用统计*/

.common-left-statistics .mian-chart {
    max-height: 220px;
    min-height: 200px;
}
.common-left-statistics  {
    font-size: 12px;
    color: #999;
    position: relative;
}
.common-left-statistics li {
    display: inline-block;
}
.common-left-statistics li i.icon {
    margin-right: 6px;
    position: relative;
    left: -2px;
}
.common-left-statistics ul li:first-child {
    display:table;
    line-height: 60px;
}

.common-left-statistics ul li:nth-child(3) h5 span{
    color: #fff;
}
.common-left-statistics ul li:nth-child(3) h5:last-child span{
    color: #bad616;
}
.common-left-statistics ul li:nth-child(2) {
    padding-top: 8px;
}
.badge-statistics {
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    border-radius: 0;
    padding: 0 4px;
    margin-right: 4px;
    margin-bottom: 1px;
}
.common-left-statistics h3 {
    color: #bad616;
    font-size: 18px;
}
.common-left-statistics small {
    color: #999;
    margin-left: -8px!important;
}
.common-left-statistics h5 {
    display: inline-block;
    margin-right: 10px;
}
.common-left-statistics h5 span {
    margin-left: 6px;
    font-size: 14px;
}
.common-left-statistics.mian-warning-statistics small,
.common-left-statistics.mian-dangers-statistics small {
    margin-right: -8px!important;
}
    /* 今日警报 */ 
    .mian-warning-statistics ul li:first-child,
    .mian-warning-statistics ul li:nth-child(3) h5:nth-child(2) span {
        color: #f13131;
    }
    /* 今日隐患 */
    .mian-dangers-statistics ul li:first-child,
    .mian-dangers-statistics ul li:nth-child(3) h5:nth-child(2) span {
        color: #ffb709;
    }
    /* 今日巡检 */
    .common-top-statistics ul li:first-child  {
        color: #fff;
    }
    .common-top-statistics ul li:last-child h5 {
        background-color: #222;
        color: #ccc;
        height: 32px;
        line-height: 32px;
        text-align: center;
        width: 31%;
        margin-right: 3.5%;
        float: left;
    }
    .common-top-statistics ul li:last-child h5:last-child{
        margin-right: 0px;
    }
    .common-top-statistics ul li:first-child div:last-child {
        line-height: 18px;
    }
    .common-top-statistics ul li:nth-child(3) h5:nth-child(2) span {
        color: #bad616;
    }
    .common-top-statistics ul li:nth-child(3) h5:last-child span {
        color: #fff;
    }
    .common-top-statistics .mian-pie-chart>div{
        position: absolute;
        top: 4px;
        right: 0;
        min-width: 110px;
        min-height: 110px;
        max-height: 120px;
    }
/* 综合右侧 */

/*单位地址*/
.unit-brief {
    height: auto;
    position: relative;
    left: 10px;
    margin-left: -15px;
}
.unit-brief h3 {
    font-size: 24px;
    margin: 4px 0 2px;
    color: #bad616;
    line-height: inherit;
}
.unit-brief small i {
    color: #ccc!important;
}
/*单位安全评分*/
.unit-score {
    position: relative;
    right:10px;
}
.unit-score span.badge {
    color: #000;
    border-radius: 0;
    font-weight: normal;
    padding: 2px 4px;
    top: 7px;
    font-size: 12px;
    transform: scale(0.84,0.84);
}
.unit-score h1 {
    font-size: 60px;
    position: absolute;
    top: 0;
    right: 20px;
    display: block;
    width: 68px;
}
.unit-score sub {
    font-size: 40px;
    position: absolute;
    right: -8px;
    bottom: 25px;
}
.unit-score small {
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 40px;
    right: 0px;
}
/*单位信息*/
.unit-info li:first-child>div{
    width: 100%;
    height: 100px;
    padding-top: 34px;
    border-bottom: 1px solid #333;
    background: -moz-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, .4),rgba(0, 0, 0, .8),rgba(0, 0, 0, .9));
    background: -o-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, .4),rgba(0, 0, 0, .8),rgba(0, 0, 0, .9));
    background: -ms-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, .4),rgba(0, 0, 0, .8),rgba(0, 0, 0, .9));
    background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, .4),rgba(0, 0, 0, .8),rgba(0, 0, 0, .9));
}
.unit-info img {
    width: 100%;
    max-height: 140px;
}
.unit-info ul {
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
}
.unit-info ul li {
    padding: 10px 10px;
    display: flow-root;
}
.unit-info small {
    font-size: 12px;
    color: #999;
}
.unit-info .overlay {
    height: auto;
}

.unit-info ul li:first-child {    
    padding: 0;
}

/*单位统计*/
.unit-info li:nth-child(2) {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom:1px solid #333;
}
.unit-info li h4 {
    margin: 0;
}
.unit-info li:nth-child(2) h4 {
    font-size: 20px;
    color: #fff;
    margin-bottom:6px;
}
.unit-info li:nth-child(2) h4 small {
    color: #fff;
}
.unit-info li:nth-child(2) article {
    display: inline-block;
    border-left:1px solid #333;
    padding: 0 15px;
    text-align: right;
}
.unit-info li:nth-child(2) article:last-child,
.unit-info li:last-child article:last-child {
    padding-right: 0;
}
.unit-info li:last-child {
}
.unit-info li:last-child article {
    width: 25%;
    float: left;
    line-height: 26px;
}
.unit-info li:last-child article span{
    color: #fff;
    margin-left: 6px;
    font-size: 14px;
}
.toolcount abbr {
    position: relative;
    display: inline-block;
    margin:0 10px;
    font-size: 12px;
    line-height: 1;
}
.toolcount abbr:before {
    content: "";
    width: 5px;
    height: 5px;
    display: block;
    position: absolute;
    top: 35%;
    left: -40%;
}

/*预案管理*/
.plan-tab figure{
    background-color: #111;
    font-size: 12px;
    margin-bottom: 15px;
}
.plan-tab figure>div.plan-listimg {
    height: 120px;
    overflow: hidden;
}
.plan-tab figure .caption {
    padding:10px 6px 6px;    
}
.plan-tab figure .caption h4 {
    font-size: 13px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.plan-tab figure .caption h5 {
    margin-top: 6px;
    color: #666;
}
.plan-tab figure .caption p>small {
    display: inline-block;
    color: #666;
    transform: scale(0.84,0.84)!important;
    -webkit-transform: scale(0.84,0.84)!important;
    margin-left: -4px;
}
.plan-tab figure .caption a {
    margin-left: 2px;
    font-size: 14px;
    display: inline-block;
    color: #ccc;
}
.plan-tab figure .caption a:hover {
    color: #bad616;
}
#plan .unit-info.toolcount li {
    border: none;
    padding: 0;
    display: block;
}

.toolcompanyrate-char p.size-10,
#inspection p.size-10,
#building p.size-10,
#personnel p.size-10,
#plan p.size-10{
    margin-left: -4px;
}
/*设备*/
#device td.dec-type {
    text-align: center!important;
    color: #ccc;
    vertical-align: middle;
}
#device td.dec-type i {
    font-size: 14px;
}
#device .size-10 {
    margin-left: -4px;
}
.dev-tit-icon {
    width: 18px;
    height: 18px;
    text-align: center;
    display: inline-block;
    line-height: 18px;
    border:1px solid #bad616;
}
.dev-tit-icon i {
    color:#bad616;
    font-size: 16px;
}
/*日月年*/
.indexdateabox {
    /*background-color: #222;*/
    font-size: 0;
}
.indexdateabox>b {
  font-size: 12px;
  width: 22px;
  height: 22px;
  border-color: #222;
  background-color: #222;
  line-height: 22px;
  padding:0 4px;
  color: #999;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  display: inline-block;
}
.indexdateabox>.indexdateactive {
  color: #fff;
  background-color: #000;
}
.indexdateabox >b:hover {
  color: #fff;
  background-color: #000;
}
/*聚合小地图*/
#min-map {
    width: 180px;
    height: 87%;
    top: 86px;
    bottom: 300px;
    z-index: 1;    
}
#min-map .overlay {
    height: 100%;
    background: -moz-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, .6),rgba(0, 0, 0, .8),rgba(0, 0, 0, 1),rgba(0, 0, 0, .8),rgba(0, 0, 0, .6),rgba(0, 0, 0, 0));
    background: -o-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, .6),rgba(0, 0, 0, .8),rgba(0, 0, 0, 1),rgba(0, 0, 0, .8),rgba(0, 0, 0, .6),rgba(0, 0, 0, 0));
    background: -ms-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, .6),rgba(0, 0, 0, .8),rgba(0, 0, 0, 1),rgba(0, 0, 0, .8),rgba(0, 0, 0, .6),rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0),rgba(0, 0, 0, .6),rgba(0, 0, 0, .8),rgba(0, 0, 0, 1),rgba(0, 0, 0, .8),rgba(0, 0, 0, .6),rgba(0, 0, 0, 0));
}
.min-map {
    position: relative;
    height: 100%; 
    z-index: 1;   
}
.arrow-prev,.arrow-next {
    display: block;
    margin: 0 47%;
    text-align: center;
    color: #ccc;
    font-size: 18px;
    position: absolute;
    cursor:pointer;
    height: 4%;
    z-index: 10;    
}
.arrow-prev {
    top: 0;
}
.arrow-next {
    bottom: 0;
}
.min-cont {
    top: 4%;
    bottom: 4%;
    height: 92%;
    overflow:hidden;
    position:relative;
    z-index: 1;
}
.min-map-list {
    position:relative;
    z-index: 2;
    height: 100%;
    margin: 0 10px;
    overflow-y: auto;
}
.min-map-list::-webkit-scrollbar {
    width: 0px;height:0px;
}
.min-cont li {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}
.min-cont li figure {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 12px;
    cursor: pointer;
}
.min-cont li .min-map-img img {
    z-index: 1;
    width: 160px;
    height: 120px;
}
.min-cont li h5 {
    position: absolute;
    display:block;
    background-color: rgba(0,0,0,.6);
    width: 100%;
    line-height: 24px;
    padding: 0 6px;
    bottom: 0;
    color: #999;    
    z-index: 10;
    text-align: left;
}
.min-cont li h5 i {
    color: #fff;
    font-size: 12px;
}
.min-cont li strong {
    position: absolute;
    display:block;
    top: 4px;
    left: 8px;
    color: #ccc;
    font-size: 12px;
    z-index: 10;
}
.min-cont li strong span,.min-cont li h5 span {
    font-size: 12px;
    display: inline-block;
    margin-left: -8px;
    color: #fff; 
    transform: scale(0.84,0.84);
    -webkit-transform: scale(0.84,0.84);
}
.min-cont li strong i {
    font-size: 12px;
    color: #fff;
}
.min-cont li a {
    position: absolute;
    display:block;
    top: 0px;
    right: 4px;
    color: #fff;
    font-size: 12px;
    z-index: 10;
}
a.min-map-cloase {
    position: absolute;
    left: -30px!important;
    top: 4%;
    border:1px solid #999;
    color: #fff;
    width: 24px;
    padding: 5px;
    font-size: 12px;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
}
a.min-map-cloase:hover {
    background-color: #bad616;
    border-color: #bad616;
    color: #000;
}
.my-tooltip {
    display: block;
    margin: 0 auto 4px;
    width: max-content;
    line-height:18px;
    padding: 0 4px;
    border-radius: 20px;    
    background-color: rgba(0,0,0,.5); 
}
.my-tooltip span {
    font-size: 12px;
    display: inline-block;
    color: rgba(255,255,255,.8);
    transform: scale(0.84,0.84);
    -webkit-transform: scale(0.84,0.84);
}
.my-tooltip:after {
    content: " ";
    display: table;
    position: absolute;
    top: 19px;
    left: 47%;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0,0,0,.5)!important;
}
.min-cont .popup-map-min-point {
    position: absolute;
    top: 20px!important;
    left: 0%!important;
    color: #000;
    z-index: 20;
    width: inherit;
}
.min-cont .popup-map-min-point>i>i {
    color: #000; 
}
.warning-list figure {
    background-color:rgba(241, 49, 49, .2);
}
.warning-list .popup-map-min-point>i {
    color:rgba(241, 49, 49, 1);
}
.fire-list figure {
    background-color:rgba(255,0,0,.3);
}
.fire-list .popup-map-min-point>i {
    color:rgba(255,0,0,1);
}
.fault-list figure {
    background-color:rgba(255,120,0, .3);
}
.fault-list .popup-map-min-point>i {
    color:rgba(255,120,0, 1);
}
.dangers-list figure {
    background-color:rgba(255,204,0, .3);
}
.dangers-list .popup-map-min-point>i {
    color:rgba(255,204,0, 1);
}