@charset "utf-8";

/*左侧导航*/
.manage-menu {
  padding-right: 0!important;
}
.manage-menu-title a {
    display: block;
    cursor: pointer!important;
    color: #ccc!important;
}
.manage-menu-title h1 {
  font-size: 80px;
  line-height: 70px;
  letter-spacing: 10px;
  color: #fff;
}
.manage-menu-title a:hover,.manage-menu-title a.active {
    color: #bad616!important;
    text-decoration: none!important;
}
.system_title {
  font-size: 12px;
  color: #666!important;
}
.manage-menu h2 {
    margin:0;
    padding:0;
    line-height:0;
}
.manage-menu i.iconfont {
  font-size: 18px;
  color: #999;
}
.manage-menu .main_aside{
    width:100%;
}
.manage-menu .main_aside ul{
    width:100%;
    margin:0;
    padding:0;
}
.manage-menu .main_aside ul>li {
  height: 20px!important;
  margin-top: 20px;
}
.manage-menu .main_aside ul li{
    width:100%;   
    height: 40px;  
    color:#999;
    padding-right:10px;
}
.manage-menu a {
  text-decoration: none;
}
.main_aside a,.el-table .cell {
  line-height: 40px!important;
  height: 40px!important;
}
.main_aside a>li * {
  display: block;
  float: left;
  line-height: 40px;
}
.main_aside a>li>i{
  width: 10%;
}
.main_aside a>li>h2{
  width: 50%;
  text-align: left;
  display: block;
    color: #fff;
    font-size: 14px;
}
.main_aside a>li>span{
  float: right;
    text-align: right;
    line-height: 20px!important;
    font-size:12px;
    max-width: 60px;
    margin:10px 0!important;
    padding: 0 8px;
}
.main_aside .router-link-active,
.main_aside a:hover {
    display: block;
    background-color: #111111;
    padding-left: 10px;
    margin-left: -10px;
}
.manage-menu .router-link-active i{
    color:#bad616;
}
.manage-menu .router-link-active h2,
.manage-menu .main_aside a:hover>li>h2,
.manage-menu .main_aside a>li.p-green>span{
    color:#bad616;
}
.manage-menu .router-link-active span,
.manage-menu .main_aside a:hover>li>span{
    color:#fff;
    background-color: #000;
}
.manage-menu .main_aside a:hover>li.p-green>span,
.manage-menu .main_aside .router-link-active>li.p-green>span{
    color:#000!important;
    background-color: #bad616!important;
}
.manage-menu .main_aside a>li.p-red>span {
    color:#f13131;
}
.manage-menu .main_aside a:hover>li.p-red>span,
.manage-menu .main_aside .router-link-active>li.p-red>span{
    color:#000!important;
    background-color: #f13131!important;
}
/*中间主列表*/
#Build_management #right .size-10,
#equipment #right .size-10,
#dangerous #right .size-10 {
    margin-left: -5px;
}
#inspection #right .size-10 {
    margin-left: -2px;
}

.main_header {
    width:100%;
    height:56px;
    padding:0 15px;
    background-color: #111;
  }
  .main_title{
    display: flex;
    align-items: center;
  }
  .main_title i{    
    margin-right:10px;
  }
  .main_title h2{
    line-height: 56px;
    color: #fff;
    font-size: 14px;
  }
/*  .main_header button,.main_nav_two button{
    width:64px;
    height:28px;
    float: left;
    outline:none;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid transparent;
    background: #111111;
    font-size: 12px;
    color: #999;
    margin-top: 21px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }*/
  .main_header a:nth-child(2) button{
    border-left:none;
  }
.main_title i {
  color: #999;
}
.main_header .btn_add{    
    background: #bad616!important;
    color: #000!important;
}
.main_header .btn_add:hover{
  background: #cfef16!important;
}
.main_header a i{
    margin-right: 3px;
    font-size: 12px;
}


/*表格*/
#right .el-table thead>tr {
  background-color: #222;
}
#right .el-table__body>tr.el-table__row {
  background-color: #000;
}
/*#right .el-table--striped .el-table__body tr.el-table__row--striped.current-row:hover td,
#right .el-table__body tr.current-row:hover>td,
#right .el-table__body tr.hover-row.current-row:hover>td,
#right .el-table__body tr.hover-row.el-table__row--striped.current-row:hover>td,
#right .el-table__body tr.hover-row.el-table__row--striped:hover>td,
#right .el-table__body tr.hover-row:hover>td {
    background-color: #111;
}*/
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
.el-table__body tr.current-row>td,
.el-table__body tr.hover-row.current-row>td,
.el-table__body tr.hover-row.el-table__row--striped.current-row>td,
.el-table__body tr.hover-row.el-table__row--striped>td,
.el-table__body tr.hover-row>td {
    background-color: #000!important;
}
.el-table th:first-child .cell,
.el-table td:first-child .cell {
  text-align: center;
}
.el-table .cell, .el-table th div {
  text-align: left;
}

#inspection #right .has-gutter th:nth-last-child(2) .cell{
  text-align: right!important;
}
#inspection #right .el-table__row td:last-child .cell{
  color: #fff;
}
#right .el-table--border th:first-child .cell,
#right .el-table--border td:first-child .cell {
  padding-left: 0!important;
}

#right .el-table--border th:last-child .cell,
#right .el-table--border td:last-child .cell {
  padding-right: 0!important;
  padding-left: 0!important;
}
.el-table__row.current-row td:first-child,
.el-table__row.current-row td:last-child i.fa-chevron-circle-right {
  color: #bad616!important;
}
.el-table__row.current-row td {
  color: #fff;
  background-color: #000!important;
}

.mapTable tr {
  background-color: #000!important;
}
.mapTable tr.hover-row:hover,
.mapTable tr.hover-row:hover td,
.mapTable tr.hover-row:hover th {
  background-color: #222!important;
}

.main_all_content {
  height: 100%;
}
.main_content_table table thead {
  margin-bottom: 11px;
}
.main_content_table table {
  margin-top:0px;
}
.main_content_table .el-table td:last-child .cell,
.main_content_table .el-table th:last-child .cell{
  text-align: right!important;
  padding-right: 15px!important;
}
.main_content_table .el-table th:last-child .cell {
  padding-right: 20px!important;
}
.total .main_content_table .el-table td:last-child .cell {
  padding-right: 0px!important;
}
.main_header span,
.main_nav_two span {
  width:64px;
  height:28px;
  float: left;
  outline:none;
  display: flex;
  align-items: center;
  justify-content: center;
  border:2px solid transparent;
  background: #111111;
  font-size: 12px;
  color: #999;
  margin-top: 21px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main_nav_tab {
  font-size: 12px;
  text-align: center;  
  left: 46%;
  margin: 15px auto 0;  
  background-color: transparent;
}
.main_nav_tab a {
  display: block;
  width:64px;
  height:28px;
  line-height: 28px;
  color: #bad616;
  border:1px solid #bad616;
  float: left;
}
.main_nav_tab a:first-child {
  border-right: none;
}
.main_nav_tab a.router-link-active,
.main_nav_tab a:hover{
  color: #000!important;
  background-color: #bad616;
  border:1px solid #bad616;
}

.main_header a:nth-child(2) span{
  border-left:none;
}
.main_header span i{
  margin-right: 3px;
}
.main_header span.btn_add i{
  color: #000;
}
.main_header span.btn_add{
  width:64px;
  height:28px;
  border:none;
  background: #bad616;
  margin-left: 6px;
  color: #000;
}
.main_nav_two a:nth-last-child(1) span{
    border-left:none;
  }
.main_nav_two .link-active span{
    color: #191d03;
    background-color: #bad616;
  }
.main_nav_two .link-active i{
    color: #191d03;
    background-color: #bad616;
  }
.main_nav_two .router-link-active span{
  color: #999;
  background-color: #000000;
}

.main_nav_two{
  margin-top:6px;
  margin-right:15px;
}
.main_nav_two span{
  margin-top:0;
}
.main_nav_two i{
  margin-right: 3px;
}
  .main_content_top{
    height:40px;
    background: #222222;
  }
  .main_content_table{
    width:100%;
  background-color: transparent;
  height: 80%; 
}
  .main_content_bottom{
    width:100%;
    height:auto;    
  }
 .btn_active button{
    background-color: #bad616;
    color: #0c0e01;
  }
  .btn_active i{
    color: #0c0e01;
    background-color: transparent;
  }

  .span_show{
    /*width:40px;
    height:32px;
    color: #bad616;
    background-color: #111111;
    border:2px solid #bad616;
    text-align:center;*/
    box-sizing: border-box;
    display: inline-block;
    line-height: 32px !important;
  }
  .span_hide{
    width:40px;
    height:32px;
    border:2px solid #333333;
    box-sizing: border-box;
    display: inline-block;
    line-height: 31px !important;
    text-align:center;
    color: #5e5e5e;
    background-color: #111111;
  }
  .danger{
    width:132px;
    background-color: #f13131;
    color: #000;
    font-size: 14px;
    height:32px;
    line-height: 32px;
    padding:0;
  }
  .el-tag--red{
    color: #f13131!important;
    padding:0 !important;
    border:none;
  }
  .el-tag--green{
    color: #bad616!important;
    padding:0 !important;
    border:none;
  }
  .el-tag--yellow{
    color: #ffb709!important;
    padding:0 !important;
    border:none;
  }
  .start{
    /*margin-top:4px;
    margin-left:10px;*/
  }
.bottom_con {
  line-height: 36px;
    height: 36px;
  font-size: 12px;
    margin:0 20px;
    padding-top:10px;    
 }
 #right .bottom_con {
  margin:0;
  padding-left: 20px;
 }
 .btn-system a {
  color: #fff;
  margin-right: 5px;
 }
.el-table td, .el-table th {
  /*min-width: 60px!important;*/
  padding:0!important;
  color: #999;
}

.el-table tr:hover button,
.el-table tr:hover .cell>i.iconfont,
.el-table tr.active,
.el-table__body tr.hover-row>td i.iconfont,
.el-table__body tr.hover-row>td .cell>button {
  color: #bad616;
}
.el-table .cell, .el-table th div {
  padding-right: 0!important;
}
.el-table .cell>button,.el-table .cell>i {
  color: #ccc;
  text-align: left;
  background-color: transparent;
  font-size: 12px;
  border: none;
}
.el-table .cell>button {
  padding: 0 4px;
}
.el-table .cell>button>i {
  font-size: 14px;
  line-height: 40px;
}
.el-table__empty-text {
  color: #f13131!important;
}
/*分页*/
.bottom_con .el-pagination {
    padding: 0;
    line-height: 22px;
    height: 22px;
}
.bottom_con>span,
.bottom_con .el-pagination__total,
.bottom_con .el-pager li,
.bottom_con .el-pagination button {
  line-height: 22px!important;
    height: 22px!important;
    min-width: 22px!important;
    padding:0!important;
    text-align: center;
    font-size: 12px!important;
    color: #999;
}
.bottom_con>* {
  float: right;
}


/*编辑弹出层*/
.modal_form {
  height: 100%;
  z-index: 99999!important;
}
.modal-dialog {
  height: 80%;
  margin-top: 120px;
}
.modal-content {
  height: initial;
  border-radius: 0!important;
}
.modal-header,.modal-footer {
  padding: 20px 15px!important;
}
.modal .modal-header h4 {
  letter-spacing: 10px;
}
.modal .modal-header button.close {
  color: #fff;
  text-shadow: none;
  opacity: 1;
  font-size: 24px;
}
.modal .modal-body {
  max-height: 560px;
  height: auto;
  overflow-y:auto; 
}
.modal .modal-body::-webkit-scrollbar {
    width: 2px;
    height:0px;
}
.el-form-item:last-child {
  margin-bottom: 0!important;
}
.modal .modal-body .el-form-item__label {
  font-size: 12px!important;
  color: #666;
  text-align: right;
}
.modal .modal-body .el-form-item__content .el-input__inner {
  font-size: 12px;
  height: 34px;
    line-height: 34px;
    color: #fff!important;
    border: 1px solid #333 !important;
}
.el-button--primary {
  border-color: transparent!important;
}
.el-button--default:hover {
  border-color: #999;
  color: #ccc;
}
.el-button--danger {
  background-color: #f13131;
  border-color: transparent!important;
}
.el-button--danger:hover {
  color: #000;
  background-color: rgba(255,0,0,1);
  border-color: transparent!important;
}
.main_content_top .el-select:first-child {
  margin-left: 15px;
  width: 140px;
}
.main_content_top .el-select:last-child {
  margin-right: 0;
}
.main_all_content .el-select {
    margin-right: 10px;
}
.main_content_top .el-select {
  max-width: 140px;

}
.main_content_top .el-select .el-input__inner {
  padding:0 10px;
}
.el-select.startFloor,
.el-select.startRoom{
  max-width: 90px;
}
/*新增表单*/
#add-new .modal-dialog {
    margin-top: 120px;
}

.main_content_top .el-date-editor .el-range-input,
#add-new .el-date-editor .el-range-input {
    background-color: transparent;
    font-size: 12px;
    color: #ccc!important;
}
.el-date-editor .el-range-separator {
  color: #666;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
}
.el-date-range-picker__time-header {
   border-color: transparent!important;
}
.el-button--text {
    color: #bad616;
}
#list-maps{
  height: 100%;
  width: 100%;
}
#list-maps .maps {
  height: 86%;
  width: 100%;
  position: relative;
}
#manage_map {
    height: 100%;
    width: 100%;
}
.maps i.icon-shuidi- {
    color: #bad616;
    cursor: pointer;
}
.maps i.icon-shuidi->i {
    color: #000;
}
.maps i.icon-shuidi->span {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #000;
    font-size: 12px;
    line-height: 34px;
    width: 36px;
}
.maps i.icon-shuidi-:hover {
    color: #f13131;
}

#list-maps aside {
  width: 100%;
  height: 100%;
}
#add-new {
  height: 100%;
  width: 100%;
  margin:0;
  position: relative;
}
#add-new aside {
  width: 525px;
  height: 100%;
  padding:0;
  float: left;
  position: relative;
  background: #111;
}
#add-new.add-map aside:last-child {
  width: -webkit-fill-available;
  position: absolute;
  left: 535px;
  margin-right: 37px;
  background: #000;
  border: 4px solid #111;
}
.main_nav a { 
    border: none;
    text-align: center;
}
.main_nav a span {
  display: block;
  margin-top: 15px;
  width: 64px!important;
  height: 28px!important;
  line-height: 28px!important;
}
.main_nav a span.btn-back:hover {
  border-color: #bad616!important;
  background-color:transparent!important;
  color: #bad616!important;
}
.main_content { 
  width: initial;
  height: 84%;
  margin-bottom:15px;
  padding: 15px;
  overflow-y: auto;
  padding-bottom:40px;
}
.main_content .el-form {
  margin-right: 5px;
  padding-bottom:15px; 
}


.main_content .el-form-item__label{
  margin-left: 15px;
}
[class*="col-"]>.el-form-item__label,
[class^=col-].el-form-item__label {
  margin-left: 0!important;
}
.el-select[class^=col-],
.el-input[class*="col-"],
.el-input[class^=col-],
.el-form-item[class*="col-"],
.el-form-item[class^=col-],
.el-form-item [class*="col-"],
.el-form-item [class^=col-]{
  padding-right:0!important;
}
.main_footer {
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;    
  background-color: #111;
  padding: 0 15px 20px;
}
.main_footer:before {
  content: "";
  display: block;
  margin-bottom: 15px;
  border-top:1px solid #333; 
}
.main_footer a {
  display: inline-block;
  margin-right: 10px;
}
.main_footer .btn-back {
  height: 32px;
  line-height: 32px;
}
.main_footer .btn-back:hover {
  background-color: transparent;
  border-color:#666!important;
  color:#ccc!important;
}
.not-null label:after{
  content: "*";
  display: inline-block;
  font-size: 12px;
  margin-left: 4px;
  color:#f13131;
}
.main_content .el-date-editor .el-input__inner {
    padding-left: 30px;
}
/*巡检表单*/
.line-start .el-select,
.line-end .el-select,
.line-node .el-select {
  width: 20%;
  margin-right: 10px;
  float: left;
}
.line-start .el-select .el-input__inner,
.line-end .el-select .el-input__inner,
.line-node .el-select .el-input__inner {
  width: inherit;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  padding-right: 20px;
}
.line-start label:before,
.line-end label:before,
.line-node label:before {
  display: inline-block;
  font-size: 12px;
  margin-right: 4px;  
  font-family: Font Awesome\ 5 Free;
}
.line-start label:before{
  content: "\f103";
  color: #bad616;
}
.line-end label:before {
  content: "\f11e";
  color: #f13131;
}
.line-node label:before {
  content: "\f276";
  color: #fff;
}
.line-show {
  margin-top: 5px;
  display: inline-block;
  width: 20%;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  padding-left:10px;
  padding-right:10px;
  margin-right:5px;
  color: #fff;
  border: 1px solid #222;
  background-color: transparent;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.icon-frame {
  cursor: pointer;
  width:32px;
  height:32px;
  border:1px solid #333333;
  margin-top:5px;
  margin-right:5px;
  display:flex;
  justify-content: center;
  align-items: center;
}
/*上传*/
.head-photo{  
  position:relative;
  width: 80px;
  height: 80px;
  margin-top: 5px;
  overflow:hidden;
  float:left;
}
.head-photo label {
  margin-bottom: 8px;
}
.head-photo div {
  text-align: center;
  background-color: #222;
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.head-photo input {
  float: left;
  cursor: pointer;
  width:80px;
  height:80px;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  right:0;
  top:0;
}
.head-photo i.el-icon-plus {
  font-size: 40px;
  line-height: 80px;
  color: #ccc;
}
.head-pic  {
  background-color: #222;
  width: 80px;
  height: 80px;
  margin-top: 5px;
}
/*设备*/
.el-table__body-wrapper.is-scrolling-left {
  border-bottom: none;
}
.el-table {
  height: 100%;
  border-bottom: 1px solid #222!important;
}
.el-table__body-wrapper.is-scrolling-none {
  height: 100%;
  
}
#unit-manage .main_content_table {
    height: 85.2%;
}
#unit-manage .main_content_table thead,
#allocation .main_content_table thead {
    background-color: #222;
    height: 40px;
    line-height: 40px;
}
.badge-tip{
    padding: 2px 10px !important;
    float: right;
    margin-top: 8px !important;
    background: #000 !important;
    border: none !important;
    border-radius: 20px!important;
    height: 26px!important;
}

#manage-center .el-select .el-input--suffix .el-input__inner {
  background-color:#111;
}
#manage-center .el-textarea__inner:active,
#manage-center .el-textarea__inner:visited,
#manage-center .el-textarea__inner:hover,
#manage-center .el-input__inner:active,
#manage-center .el-input__inner:visited,
#manage-center .el-input__inner:hover,
#manage-center .el-input__inner.is-active,
#manage-center .is-focus .el-input__inner,
#manage-center .is-focus .el-input__inner:active,
#manage-center .is-focus .el-input__inner:visited,
#manage-center .is-focus .el-input__inner:hover{
    border: 1px solid #333!important;
    color: #fff!important;
    background-color: rgba(0, 0, 0, 1);
}
#manage-center .main_content_top .el-input__inner:active,
#manage-center .main_content_top .el-input__inner:visited,
#manage-center .main_content_top .el-input__inner:hover,
#manage-center .main_content_top .el-input__inner.is-active,
#manage-center .main_content_top .is-focus .el-input__inner,
#manage-center .main_content_top .is-focus .el-input__inner:active,
#manage-center .main_content_top .is-focus .el-input__inner:visited,
#manage-center .main_content_top .is-focus .el-input__inner:hover{
    border: none!important;
}

#log .main_content_table td:last-child {
  color: #ffb709;
}
#manage-center .el-textarea {
  margin-top: 5px;
}

/*建筑管理*/
#Build_management #right table.toolroute-table thead {
  background-color: #111;
}
#Build_management #right table.toolroute-table {
  background-color: #000;
}
#Build_management #right table.toolroute-table tr {
  height: 40px;
}
#Build_management #right table.toolroute-table>tbody>tr>td,
#Build_management #right table.toolroute-table>tbody>tr>th,
#Build_management #right table.toolroute-table>tfoot>tr>td,
#Build_management #right table.toolroute-table>tfoot>tr>th,
#Build_management #right table.toolroute-table>thead>tr>td,
#Build_management #right table.toolroute-table>thead>tr>th {
/*  width: auto;
  min-width: 40px;*/
  text-align: right!important;
  vertical-align: middle;
  line-height: 40px;
  height: 40px;
  padding:0 10px!important;
}
#Build_management #right table.toolroute-table tr:hover td:first-child {
  color: #fff!important;
}
#right .toolroute-table .btn-on {
  width:60px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
}
#right .toolroute-table .btn-tool {
  background-color: transparent;
  border: 1px solid #666;
  color: #ccc;

}
#right .toolroute-table .btn-tool:hover {
  color: #fff;
  border: 1px solid #999;
}
#right .toolroute-table i {
  margin-left: 4px;
  font-size: 14px;
  line-height: 40px;
  text-align: left;
  color: #999;
}

#Build_management #right table.toolroute-table td.weixiugai{
  color: #fff;
}

#Build_management #right table.toolroute-table td i.icon-danweiguanli-mian-1{
  color: #fff;
}
.pmian-up {
  margin-top: 6px;
  width: 60px;
  line-height: 24px;
  height: 24px;
  cursor: pointer;
  text-align: center;
}
.xiugai_edit input[type="file"],.add input[type="file"] {
    margin-top: 6px;
    line-height: 17px;
    height: 17px;
    /*overflow-y: hidden;
    cursor: pointer;
    position: absolute;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0; 
    left:0px;
    top: 0px;*/
}
.xiugai input,.add input.add-file,.unitroom input,.room-name input{
  max-width:40px;
  background-color: #000;
  border: 1px solid #333;
  line-height: 24px;
  height: 24px;
  margin: 6px auto;
  text-align: center;
  color: #fff;
}
.unitroom input {
  max-width:80px;
}
.unitroom i {
  font-size: 14px;
  line-height: 24px;
}
.room-name input {
  max-width:120px;
}

.table_ul li {
  margin: 0;
  padding:0;
}
.table_ul li>span,
.table_ul li>span>i.fa-plus {
  line-height: 22px;
}

.room_wrap tbody>tr {
  border-bottom: 1px solid #111;
}
.room_wrap tr:hover i.icon-guanbi-mian- {
  color: #f13131!important;
}
.room_wrap td li span {
  color: #bad616;
  line-height: 40px;
}
#Build_management #right .room_wrap table.toolroute-table>thead>tr>td,
#Build_management #right .room_wrap table.toolroute-table>tfoot>tr>td {
  text-align: center!important;
}

.add-unitroom {
  color: #999;
}
.add-unitroom:hover {
  color: #bad616;
}
.submit-unit a {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.add-floor {
  color: #bad616;
}
.submit-unit:hover,.submit-unit a:hover {
  background-color: #cfef16!important;
}
.main_content_table .table-scroll {
  max-height: 660px;
  overflow-y: auto;
}
