
.landmark_marker{
    /* width: 100px;
    height: 100px;
    background-color: yellow !important; */
}

/* 地图图例相关 */

/* 地标 */
.legend-landmark{
    border-left: 1px solid #cccccc;
    margin: 20px;
    padding-left: 4px;
    position: absolute;
    z-index: 20;
}

.legend-landmark:after{
    content: "";
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #cccccc;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    bottom: -10px;
}

.legend-landmark span{
    display: inline-block;
    background: #cccccc;
    padding: 0px 4px;
    margin-bottom: 4px;
    white-space:nowrap;
    font-size: 12px;
}

.landmark-rect{
    width: 5px;
    height: 12px;
    position: absolute;
    left: -6px;
    padding: 0px !important;
}

.legend-landmark span:last-child{
    margin-bottom: 20px !important;
}

/* 头像 */
.legend-people{
    width: 52px;
    height: 52px;
    background: #ccc;
    position: absolute;
    z-index: 20;
    border-radius: 100%;
    top: 100px;
    left: 100px;
    padding: 5px;
}
.legend-people span {
    position: absolute;
    bottom: -5px;
    left: 16px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 8px solid #ccc;
}
.newpeople{
    width: 30px;
    height: 30px;
}
.newpeople span{
    position: absolute;
    bottom: -5px;
    left: 5px;
    /* border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ccc; */
}
.people-trianlixian{
    border-top: 10px solid #ccc!important;
}
.people-trianzaixian{
    border-top: 10px solid rgba(186,214,22,1)!important;
}
.people-orange{
    border-top: 10px solid rgba(255,120,0,1)!important;
}
.people-yellow{
    border-top: 10px solid rgba(255,204,0,1)!important;
}
.people-red{
    border-top: 10px solid rgba(255,0,0,1)!important;
}
.legend-people div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 100%;
}
.legend-people img{
    width: 100%;
}
/* .legend-people .mapdander{
    display: inline-block;
    width: 
} */



/* 报警图例 */
.legend-alarm{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 700px;
    top: 500px;
}
/* .legend-alarm:hover .legend-alarm p{
    display: none;
} */
.legend-alarm span{
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.legend-alarm:hover .map-tootipbox{
    display: block 
}
.legend-people:hover .map-tootipbox{
    display: block 
}
.map-tootipbox{
    text-align: center ;
    position: relative ;
    bottom: 40px ;
    display: none ;
}
.map-tootipboxpeo{
    bottom: 36px;
    left: 52px;
}
.map-tootipboxdan{
    bottom: 62px;
    left: -85px;
}
.map-tootip{
    color: #bad616 ;
    display: inline-block ;
    padding: 5px 10px ;
    background: #383838b8 ;
    border-radius: 100px ;
    min-width: 200px ;
}
.legend-alarm:hover .map-tootip{
    display: inline-block !important;
}
.alarm-max{
    width: 100%;
    height: 100%;
    border: 0px dashed #f13432;
}

.alarm-min{
    width: 32px;
    height: 32px;
    background: #f13432;
    
}

.alarm-min i{
    display: none;
}
.alarm-min:hover >i{
    display: none;
}

.alarm-ani{
    width: 0%;
    height: 0%;
    border: 0px solid #f13432;
    box-shadow: inset 0px 0px 50px #f13432;
}

/* 边框颜色 */
.border-blue{border-color: #bad616;}
.border-yellow{border-color:#c69e00;}
.border-orange{border-color:#ff7800;}
.border-red{border-color:#f13131;}
.shadow-blue{box-shadow:inset 0px 0px 100px #bad616}
.shadow-yellow{box-shadow:inset 0px 0px 100px #c69e00}
.shadow-orange{box-shadow:inset 0px 0px 100px #ff7800}
.shadow-red{box-shadow:inset 0px 0px 100px #f13131}

.alarm-item{
    animation: alarmani 10s ease-out 4s infinite ;
}
.alarm-item1{
    animation: alarmani 10s ease-out 3s infinite ;
}
.alarm-item2{
    animation: alarmani 10s ease-out 2s infinite ;
}
.alarm-item3{
    animation: alarmani 10s ease-out 1s infinite ;
}
.alarm-item4{
    animation: alarmani 10s ease-out 0s infinite ;
}
/* .alarm-item5{
    animation: alarmani 20s ease-out 0s infinite ;
} */

@keyframes alarmani
{
    0% {width: 0%;height: 0%;}
    10%{width: 50%;height: 50%;}
    50%{width: 100%;height: 100%;box-shadow:inset 0px 0px 0px}
    100% {width: 100%;height: 100%;box-shadow:inset 0px 0px 0px}
}

@-moz-keyframes alarmani
{
    0% {width: 0%;height: 0%;}
    10%{width: 50%;height: 50%;}
    25%{width: 100%;height: 100%;box-shadow:inset 0px 0px 0px}
    100% {width: 100%;height: 100%;box-shadow:inset 0px 0px 0px}
}

@-webkit-keyframes alarmani
{
    0% {width: 0%;height: 0%;}
    10%{width: 50%;height: 50%;}
    25%{width: 100%;height: 100%;box-shadow:inset 0px 0px 0px}
    100% {width: 100%;height: 100%;box-shadow:inset 0px 0px 0px}
}

@-o-keyframes alarmani
{
    0% {width: 0%;height: 0%;}
    10%{width: 50%;height: 50%;}
    25%{width: 100%;height: 100%;box-shadow:inset 0px 0px 0px}
    100% {width: 100%;height: 100%;box-shadow:inset 0px 0px 0px}
}

/* 火情 */
.map-fire:before{
    content: "\e684";
    position: absolute;
    left: 4px;
    bottom: 0px;
    font-size: 24px;
}

/* 报警 */
.map-warning:before{
    content: "\e620";
    position: absolute;
    left: 4px;
    bottom: 0px;
    font-size: 24px;
}
/* 故障 */
.map-dangers:before{
    content: "\e685a";
    position: absolute;
    left: 4px;
    bottom: 0px;
    font-size: 24px;
}
/* 建筑 */
.map-build:before{
    content: "\e64f";
    position: absolute;
    right: -9px;
    bottom: 7px;
    font-size: 18px;
}
/* 隐患 */
.map-yinhuan:before{
    content: "\e623";
    position: absolute;
    right: -9px;
    bottom: 7px;
    font-size: 18px;
}
/* 隐患损坏 */
.map-sunhuai:before{
    content: "\e68e";
    position: absolute;
    right: -9px;
    bottom: 7px;
    font-size: 18px;
}
/* 人为隐患 */
.map-renwei:before{
    content: "\e688";
    position: absolute;
    right: -9px;
    bottom: 7px;
    font-size: 18px;
}
/* 非人为隐患 */
.map-feirenwei:before{
    content: "\e689";
    position: absolute;
    right: -9px;
    bottom: 7px;
    font-size: 18px;
}
/* 缺失 */
.map-queshi:before{
    content: "\e68b";
    position: absolute;
    right: -9px;
    bottom: 7px;
    font-size: 18px;
}
/* 危险品 */
.map-weixianpin:before{
    content: "\e62c";
    position: absolute;
    right: -9px;
    bottom: 7px;
    font-size: 18px;
}
.map-alarm:before{
    content: "\e620";
    position: absolute;
    right: -9px;
    bottom: 7px;
    font-size: 18px;
}