@charset "utf-8";

/* 媒体查询 */

/*宽度*/
@media (min-width: 768px) and (max-width:1440px){
    /*管理端*/
    #unit-manage #left,
    #Reserve_plan #left,
    #Personnel_review #left,
    #log #left,
    #Message_manage #left,
    #people-list #left,
    #Inspection_plan #left,
    #equipment #left,
    #dangerous #left,
    #ControlRoomLog #left,
    #Build_management #left,
    #allocation #left{
        width: 16%;
    }
    #unit-manage .open-left,
    #Reserve_plan .open-left,
    #Personnel_review .open-left,
    #log .open-left,
    #Message_manage .open-left,
    #people-list .open-left,
    #Inspection_plan .open-left,
    #equipment .open-left,
    #dangerous .open-left,
    #ControlRoomLog .open-left,
    #Build_management .open-left,
    #allocation .open-left {
        width: 16%!important;
    }
    #manage-center {
        width: 57%;
        left: 16%;
    }
    .open-center {
        width: 73%!important;
    }
    .manage-menu-title>div>a:last-child {
        margin-top: 0!important;
    }
    .manage-menu-title h1 {
        font-size: 56px;
        line-height: 56px;
    }
    #add-new.add-map aside:last-child {
        margin-right:23%;
    }
    /*展示端*/
    #early #common-cont{
        width: 46%;
        margin-left: 26%;
    }
    #common-cont{
        width: 72%;
    }
    #min-map {
        right: 28%;
    }
    #left{
        width: 26%;
    }
    #right{
        width: 28%;
    }
    .common-left-statistics h5 {
        margin-right: 0px;
        font-size: 12px;
    }
    .common-left-statistics h5 span {
        font-size: 12px;
    }
    #right .toolcount-p1 {
        font-size: 48px;
        line-height: 48px;
    }
    .header-middle {
        width: 87%;
    }
    .version-title {
        font-size: 13px;
    }
}
@media (min-width: 1441px) and (max-width:1679px){
    /*管理端*/
    #unit-manage #left,
    #Reserve_plan #left,
    #Personnel_review #left,
    #log #left,
    #Message_manage #left,
    #people-list #left,
    #Inspection_plan #left,
    #equipment #left,
    #dangerous #left,
    #ControlRoomLog #left,
    #Build_management #left,
    #allocation #left{
        width: 14%;
    }
    #unit-manage .open-left,
    #Reserve_plan .open-left,
    #Personnel_review .open-left,
    #log .open-left,
    #Message_manage .open-left,
    #people-list .open-left,
    #Inspection_plan .open-left,
    #equipment .open-left,
    #dangerous .open-left,
    #ControlRoomLog .open-left,
    #Build_management .open-left,
    #allocation .open-left {
        width: 14%!important;
    }
    #manage-center {
        width: 63.6%;
        left: 14%;
    }
    .open-center {
        width: 77.6%!important;
    }
    .manage-menu-title h1 {
        font-size: 60px;
        line-height: 60px;
    }
    .manage-menu-title>div>a:last-child {
        margin-top: 0!important;
    }
    #add-new.add-map aside:last-child {
        margin-right:19%;
    }
    /*展示端*/ 
    #early  #common-cont{
        width: 58%;
        margin-left: 19%;
    }
    #common-cont{
        width: 77%;
    }
    #min-map {
        right: 23%;
    }
    #left{
        width: 19%;
    }
    #right{
        width: 23%;
    }
    #right .toolcount-p1 {
        font-size: 48px;
        line-height: 48px;
    }
    .header-middle {
        width: 90%;
    }
    .version-title {
        font-size: 15px;
    }
}
@media (min-width: 1680px) and (max-width:1919px){
    /*管理端*/
    #unit-manage #left,
    #Reserve_plan #left,
    #Personnel_review #left,
    #log #left,
    #Message_manage #left,
    #people-list #left,
    #Inspection_plan #left,
    #equipment #left,
    #dangerous #left,
    #ControlRoomLog #left,
    #Build_management #left,
    #allocation #left{
        width: 16%;
    }
    #unit-manage .open-left,
    #Reserve_plan .open-left,
    #Personnel_review .open-left,
    #log .open-left,
    #Message_manage .open-left,
    #people-list .open-left,
    #Inspection_plan .open-left,
    #equipment .open-left,
    #dangerous .open-left,
    #ControlRoomLog .open-left,
    #Build_management .open-left,
    #allocation .open-left {
        width: 16%!important;
    }
    #manage-center {
        width: 61.3%;
        left: 16%;
    }
    .open-center {
        width: 77.3%!important;
    }
    .manage-menu-title h1 {
        font-size: 72px;
        line-height: 72px;
    }
    .manage-menu-title>div>a:last-child {
        margin-top: 10px!important;
    }
    #add-new.add-map aside:last-child {
        margin-right:16%;
    }
    /*展示端*/  
    #early #common-cont{
        width: 55%;
        margin-left: 22%;
    }
    #common-cont{
        width: 77%;
    }
    #min-map {
        right: 23%;
    }
    #left{
        width: 22%;
    }
    #right{
        width: 23%;
    }
    #right .toolcount-p1 {
        font-size: 54px;
        line-height: 54px;
    }
    .header-middle {
        width: 91%;
    }
    .early-list li article h5 {
        width: 64%;
    }
}
@media (min-width: 1920px) and (max-width:2229px){
    /*管理端*/
    #dangerous #right .toolcount-p1 {
        font-size: 44px;
        line-height: 44px;
    }  
    #unit-manage #left,
    #Reserve_plan #left,
    #Personnel_review #left,
    #log #left,
    #Message_manage #left,
    #people-list #left,
    #Inspection_plan #left,
    #equipment #left,
    #dangerous #left,
    #ControlRoomLog #left,
    #Build_management #left,
    #allocation #left{
        width: 14%;
    }
    #unit-manage .open-left,
    #Reserve_plan .open-left,
    #Personnel_review .open-left,
    #log .open-left,
    #Message_manage .open-left,
    #people-list .open-left,
    #Inspection_plan .open-left,
    #equipment .open-left,
    #dangerous .open-left,
    #ControlRoomLog .open-left,
    #Build_management .open-left,
    #allocation .open-left {
        width: 14%!important;
    }
    #manage-center {
        width: 64.3%;
        left: 14%;
    }
    .open-center {
        width: 78.3%!important;
    }
    .manage-menu-title h1 {
        font-size: 72px;
        line-height: 72px;
    }
    .manage-menu-title>div>a:last-child {
        margin-top: 15px!important;
    }
    #add-new.add-map aside:last-child {
        margin-right:11%;
    }
    /*展示端*/
    #early #common-cont{
        width: 58%;
        margin-left: 20%;
    }
    #common-cont{
        width: 78%;
    }
    #min-map {
        right: 22%;
    }
    #left{
        width: 20%;
    }
    
    #right{
        width: 22%;
    }
    
    #right .toolcount-p1 {
        font-size: 60px;
        line-height: 60px;
    }
    .unit-info li:nth-child(2) article {
        padding: 0 10px;
    }
    .early-list li article h5 {
        width: 66%;
    }
    
}
@media (min-width: 2560px) {
    /*管理端*/
    #unit-manage #left,
    #Reserve_plan #left,
    #Personnel_review #left,
    #log #left,
    #Message_manage #left,
    #people-list #left,
    #Inspection_plan #left,
    #equipment #left,
    #dangerous #left,
    #ControlRoomLog #left,
    #Build_management #left,
    #allocation #left{
        width: 13%;
    }
    #unit-manage .open-left,
    #Reserve_plan .open-left,
    #Personnel_review .open-left,
    #log .open-left,
    #Message_manage .open-left,
    #people-list .open-left,
    #Inspection_plan .open-left,
    #equipment .open-left,
    #dangerous .open-left,
    #ControlRoomLog .open-left,
    #Build_management .open-left,
    #allocation .open-left {
        width: 13%!important;
    }
    #manage-center {
        width: 68.1%;
        left: 13%;
    }
    .open-center {
        width: 81.1%!important;
    }
    .manage-menu i.iconfont {
        font-size: 18px;
    }

    .main_aside a>li>h2 {
        font-size: 14px;
        margin-left: 6px;
    }
    .manage-menu-title>div>a:last-child {
        margin-top: 25px!important;
    }
    #add-new.add-map aside:last-child {
        margin-right:4%;
    }
    /*展示端*/
    #early  #common-cont{
        width: 65%;
        margin-left: 16%;
    }
    #common-cont{
        width: 81%;
    }
    #min-map {
        right: 19%;
    }
    #left{
        width: 16%;
    }
    #right{
        width: 19%;
    }
    .header-middle {
        width: 96%;
    }
    .unit-info li:nth-child(2) article {
        padding: 0 12px;
    }
    .early-list li article h5 {
        width: 72%;
    }
    .early-list li article h4 a {
        padding-left: 12px;
    }
}
/*高度*/
@media screen and (min-height: 1440px){
    /*.el-table__body-wrapper {
        height: 91.8%!important;
    }
    .main_content_table {
        height: 86%!important;
    }
    #unit-manage .main_content_table {
        height: 90.3%!important;
    }
    #manage-center {
        max-height: 75%!important;
    }*/
    .early-warning {
        height: 68%!important;
    }
    .manage-menu-title {
      height: 140px;
    }
    #add-new {
      height: 781px!important;
    }
    
}
@media screen and (min-height: 1080px){
    /*.el-table__body-wrapper {
        height: 94.4%!important;
    }
    .main_content_table {
        height: 82%;
    }
    #unit-manage .main_content_table {
        height: 87%;
    }
    #manage-center {
        max-height: 79%;
    }*/
    .manage-menu-title {
      height: 140px;
    }
    
    #manage-center,.toolleft {
        margin-top: 120px;
    }
    .toolright {
        padding-top: 120px;
    }
    #header {
        margin-top: 0px;
    }
}
@media screen and (min-height: 769px) and (max-height: 1080px){
    /*.el-table__body-wrapper {
        height: 91.6%!important;
    }
    .main_content_table {
        height: 78%;
    }
    #unit-manage .main_content_table {
        height: 86.2%;
    }
    #manage-center {
        max-height: 77%;
    }*/
    /*#add-new {
      height: 641px;
    }*/
    .manage-menu .main_aside ul>li {
        margin-top: 20px;
    }
    #list-maps .maps {
        height: 560px;
    }
    /*#manage-center,.toolleft {
        margin-top: 80px;
    }
    .toolright {
        padding-top: 80px;
    }
    #header {
        margin-top: -16px;
    }*/
}
@media screen and (max-height: 768px){
    .el-table__body-wrapper {
        height: 91.8%!important;
    }
    /*.main_content_table {
        height: 74%;
    }
    #unit-manage .main_content_table {
        height: 81.3%;
    }
    #manage-center {
        max-height: 75%;
    }*/
    .manage-menu-title {
        height: 60px;
    }
    #add-new {
      height: 601px;
    }
    #manage-center,.toolleft {
        margin-top: 80px;
    }
    .toolright {
        padding-top: 80px;
    }
    #header {
        margin-top: -16px;
    }
}

