@charset "utf-8";

/* 媒体查询 */
@media (max-width: 768px) {
    #early #common-cont{
        width: 52%;
        margin-left: 300px;
    }
    #early #right{
        min-width: 48%;
    }
    #min-map {
        right: 400px;
    }
    #left{
        width: 300px;
    }
    #right {
        width: 400px;
    }
    #manage-center {
        width: 100%;
        left: 300px;
        margin-right: 400px;
    }
    .header-middle{
        margin-top: 74px;
    }
}
@media (min-width: 1600px) {
    #early  #common-cont{
        width: 74%;
        margin-left: 37px;
    } 
    #min-map {
        right: 29%;
    }
    #left{
        width: 20%;
    }
    #right{
        width: 24%;
    }
    #manage-center {
        width: 56%;
        left: 20%;
    }
    .header-middle{
        margin-top: 18px;
    }
}
@media (min-width: 2300px) {
    #early  #common-cont{
        width: 63%;
        margin-left: 17%;
    }
    #common-cont{
        width: 80%;
    }
    #min-map {
        right: 20%;
    }
    #left{
        width: 17%;
    }
    #right{
        width: 20%;
    }
    #manage-center {
        width: 63%;
        left: 17%;
    }
}

@media (min-width: 768px) and (max-width:1600px){
    /*#list-maps aside{
        width:100%;    
    }
    #add-new aside{
        width:525px;
        max-height:62%;
        background:#111111;
        overflow-y: auto;
    }
    .main_content {
        width: initial;
        height: 100%;
        margin:0 15px;
        overflow-y: auto;
        border-top:1px solid #222222;
  }*/
}
@media (min-width: 1600px){
    /*#list-maps aside{
        width:100%;
    }
    #add-new aside{
        width:525px;
        max-height:62%;
        background:#111111;
        overflow-y: auto;
      }
    .main_content{
        width: initial;
        height: 100%;
        margin:0 15px;
        overflow-y: auto;
        border-top:1px solid #222222;
      }*/
}