.main_content_top{
  .el-cascader{
    width:96px;
    height:28px ;
    .el-input{
      background: #222 ;
      .el-input__inner{
        background: #111 ;
      }
    }
  }
}
.main_content{
  .el-input__inner{
    height:32px;
    line-height:32px;
    background: #111111;
    border-color: #333333;
    font-size:12px;
    color: #ccc;
  }
  .el-form-item {
    margin-bottom: 10px;
  }
  .el-form--label-top .el-form-item__label{
    padding:0;
  }
  .el-select {
    .el-option{
      background: #111;
    }
  }
}
.sbwz_138_32{
  width:138px;
  height:32px;
  .el-input__inner{
    padding:0 0 0 10px;
  }
}
.sbwz_90_32{
  width:90px;
  height:32px;
  .el-input__inner{
    padding:0 0 0 10px;
  }
}
.wzzb{
  width:286px;
}
.wzzb_btn{
  width:83px;
  height:25px;
  font-size: 10px;
  padding:0 !important;
  line-height: 25px;
  float: right;
  margin-top: 8px;
  background: #020202;
  border:none;
}
.resource_btn{
  width:230px;
  height:25px;
  font-size: 10px;
  padding:0 !important;
  line-height: 25px;
  float: right;
  margin-top: 8px;
  background: #020202;
  border:none;
}
.primary{
  width:132px;
  height:32px;
  line-height: 32px;
  padding:0;
  background: #bad616;
  color: #0c0e01;
}
.back{
  width:64px;
  height:32px;
  line-height: 32px;
  padding:0;
  background: #111111;
  border-color: #666666;
}

.el-radio__input.is-checked+.el-radio__label{
  color: #bad616;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #bad616;
  background: #bad616;
}
