
.main_content{
  .el-input__inner{
    height:32px;
    line-height:32px;
    background: #111111;
    border-color: #333333;
    font-size:12px;
    color: #ccc;
    border-radius:0;
  }
  .el-form-item {
    margin-bottom: 10px;
  }
  .el-form--label-top .el-form-item__label{
    padding:0;
  }
}
.sbwz_138_32{
  width:138px;
  height:32px;
  .el-input__inner{
    padding:0 0 0 10px;
  }
}
.sbwz_90_32{
  width:90px;
  height:32px;
  .el-input__inner{
    padding:0 0 0 10px;
  }
}
.wzzb{
  width:286px !important;
}
.wzzb_btn{
  width:83px;
  height:25px !important;
  font-size: 10px !important;
  padding:0 !important;
  line-height: 25px !important;
  float: right;
  margin-top: 8px !important;
  background: #020202 !important;
  border:none !important;
}
.resource_btn{
  width:230px;
  height:25px;
  font-size: 10px !important;
  padding:0 !important;
  line-height: 25px !important;
  float: right;
  margin-top: 8px !important;
  background: #020202 !important;
  border:none !important;
}
.primary{
  width:132px;
  height:32px;
  line-height: 32px !important;
  padding:0 !important;
  background: #bad616 !important;
  color: #0c0e01 !important;
}
.back{
  width:64px;
  height:32px;
  line-height: 32px !important;
  padding:0 !important;
  background: #111111 !important;
  border-color: #666666 !important;
}

.el-radio__input.is-checked+.el-radio__label{
  color: #bad616 !important;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #bad616 !important;
  background: #bad616 !important;
}
.el-popper[x-placement^=bottom] .popper__arrow::after{
  border-bottom-color: #333 !important;
  top:0 !important;
}


// all
.main_all_content{
  .select{
    width:96px;
    float: left;
    margin-left:6px;
  }
  .el-form{
    height: 40px;
    display: flex;
    align-items:center;
  }
  .el-form-item{
    margin-bottom: 0;
  }
  .el-form-item__content{
    line-height: normal;
  }

  .el-input__inner{
    height:28px;
    font-size: 12px;
    color: #999999;
    background-color:#000;
    border:none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .el-input__icon{
    line-height: 28px;
  }
  .main_content_top{
    .el-button{
      width:64px;
      height:28px;
      color:#999999;
      line-height: 28px;
      padding:0;
      border-radius: 0;
      background-color:#000000;
      border:none !important;
      margin-left:6px;
    }


  }
}
.el-table__fixed-right::before, .el-table__fixed::before{
  background-color: transparent;
}
.main_content_table{
  ::-webkit-scrollbar{
    height:13px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #222222;
  }
  ::-webkit-scrollbar-track-piece{
    background-color: #000000;
  }
  .el-table{
    background-color: #111111;
  }
  .el-table--border{
    border:none;
  }
  .el-table::before{
    background-color: transparent;
  }
  .el-table th, .el-table tr{
    background-color: #111111;
  }
  .el-table--border th,.el-table--border td{
    border:none;
  }
  .el-table{
    font-size: 12px;
  }
  .el-table__body tr.hover-row>td{
    background-color: #000;
    color: #fff;
  }
  .el-table--border::after, .el-table--group::after, .el-table::before{
    background-color: transparent;
  }
  .el-pager li.active{
    color:#fff;
  }
  .el-table td, .el-table th.is-leaf{
    border:none;
  }
  .el-table__fixed-right::before, .el-table__fixed::before{
    background-color: transparent;
  }
}

.el-form-item{
  .el-button{
    border-radius: 0;
  }
}
.modal-footer{
  text-align: left !important;
  .el-button{
    border-radius: 0;
  }
  button{
    border-radius: 0;
  }
}
// maps

.el-form-item__content{
  margin-left: 0;
}




.el-table th:nth-child(1) div, .el-table--border th:first-child .cell{
  padding-left:20px !important;
}

.el-table--border td:first-child .cell {
  padding-left: 20px !important;
}

